/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/*-----------header starts-----------*/
	.brand{
		width: 70%;
	}

	.hero-me {
		margin-top: 0px;
	}

	.hero-me h1 {
		width: 64%;
		font-size: 18px;
	}

	.hero-me p {
		font-size: 14px;
	}

	.hero-page .rubic-purp {
		max-width: 130px;
		top: 40px;
	}

	.hero-page .rubic-white {
		max-width: 95px;
		top: 500px;
		right: 7px;
	}

	.counter-sec {
		background: linear-gradient(90deg, rgb(129, 86, 252) 20%, white 20%);
	}

	.counts {
		padding: 20px;
		text-align: center;
	}

	.c-white {
		color: #000000;
	}

	.what-can {
		background: linear-gradient(90deg, rgb(129, 86, 252) 100%, white 110%);
		color: black;
	}

	.float{
		display: none;
	}

	.shadow{
		display: none;
	}

	.typing {
		position: absolute;
		top: 370px;
		left: 110px;
		font-size: 20px;
		color: black;
	}

	.what-items {
		padding-bottom: 40px;
	}

	.what-items h2 {
		font-size: 30px;
	}

	.single-icon {
		margin-top: 20px;
	}

	.card_icon i {
		color: #e8e3f3;
		font-size: 45px;
	}

	.testimonials h2 {
		color: black;
	}
	
	.modal-form{
		width: 100%;
	}
	
	.reviews::before {
		font-size: 50px;
	}

	.reviews::after {
		font-size: 50px;
		bottom: 65px;
	}

	.sm-none{
		display: none;
	}

	#fp-nav.fp-right {
		right: 17px;
		display: none;
	}

	.parallax-items{
		display: none;
	}

	.phero-text h4 {
		padding-top: 100%;
		font-size: 45px;
	}

	.project-item1 {
		background: white;
	}

	.project-item2 {
		background: linear-gradient(90deg, rgb(129, 86, 252) 100%, white 100%);
	}

	.project-tabs {
		padding: 50px 0;
	}

	.project-img img {
		padding-top: 0px;
	}

	.album-ul {
		display: block;
		margin-left: 0;
		margin-top: 0;
	}

    /*------------header ends-------------*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.hero {
		background: linear-gradient(110deg, white 33%, rgb(129, 86, 252) 33%);
	}

	.hero-me {
		margin-top: 0px;
	}

	.hero-me h1 {
		width: 69%;
		font-size: 16px;
		padding: 20px 20px 0 20px;
	}

	.hero-me p {
		line-height: 15px;
		font-size: 12px;
	}

	.styled_button {
		font-size: 14px;
	}

	.hero-page img {
		margin: 90px 0;
	}

	.hero-page .rubic-purp {
		max-width: 105px;
		top: 0px;
		left: 0px;
	}

	.hero-page .rubic-white {
		max-width: 70px;
		top: 300px;
		right: 45px;
	}

	.typing {
		top: 325px;
		left: 95px;
		font-size: 14px;
	}

	.what-can {
		background: linear-gradient(90deg, rgb(129, 86, 252) 27%, white 27%);
	}

	.what-items {
		margin: 15px 0 0 40px;
	}

	.what-items h2{
		font-size: 1.5rem;
	}

	.single-icon {
		margin-top: 0px;
	}

	.counts {
		padding: 38px;
	}

	.count-item {
		margin-top: 0px;
	}

	.count-item h3{
		font-size: 1rem;
	}

	.card_text h3{
		font-size:24px;
	}

	.card_text p{
		font-size: 14px;
		line-height: 20px;
	}

	.float img {
		width: 180px;
		height: 170px;
		top: 20px;
	}

	.shadow img {
		width: 160px;
		height: 95px;
		top: 260px;
	}
	.modal-form{
		width: 86%;
	}

	.reviews::before {
		font-size: 50px;
	}

	.reviews::after {
		font-size: 50px;
		bottom: 65px;
	}

	.album-ul {
		margin-left: 2%;
	}

	.album-items {
		margin-left: 8%;
	}

	.album-items .itemBox {
		width: 270px;
		height: 270px;
	}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.hero-me {
		margin-top: 0px;
	}

    .hero-me h1 {
		font-size: 20px;
	}

	.hero-me p {
		padding: 20px 0 20px 20px;
		font-size: 15px;
	}

	.hero-page img {
		width: 95%;
	}

	.hero-page .pen {
		width: 40%;
	}

	.hero-page .rubic-purp {
		max-width: 125px;
		top: 80px;
	}	

	.hero-page .rubic-white {
		max-width: 80px;
		top: 525px;
	}

	.styled_button {
		font-size: 16px;
	}

	.typing {
		top: 420px;
		left: 140px;
		font-size: 14px;
	}

	.what-can {
		background: linear-gradient(90deg, rgb(129, 86, 252) 27%, white 27%);
	}

	

	.what-items {
		margin: 15px 0 0 40px;
	}

	.what-items h2{
		font-size: 1.5rem;
		margin-bottom: 25px;
	}

	.single-icon {
		margin-top: 0px;
	}
	
	.counts {
		padding: 50px 38px 50px 38px;
	}
	

	.count-item {
		margin-top: 0px;
	}

	.count-item h3{
		font-size: 1rem;
	}

	.card_text h3{
		font-size:24px;
	}

	.card_text p{
		font-size: 14px;
		line-height: 20px;
	}

	.float img {
		width: 180px;
		height: 170px;
		top: 20px;
	}

	.shadow img {
		width: 160px;
		height: 95px;
		top: 260px;
	}

	.modal-form {
		width: 80%;
		padding: 20px 30px;
		margin-top: 45px;
	}

	.reviews::before {
		font-size: 50px;
	}

	.reviews::after {
		font-size: 50px;
		bottom: 65px;
	}

	.album-items .itemBox {
		width: 270px;
		height: 270px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}